body{
	margin: 0;
    padding: 0;
    background: #5758BB;
 }
 .container{
        margin: 0 auto;
        width: 65%;

 }
 .logo{
 	min-height: 80px;
 	background: #1B1464;

 }
 .logo h1{
 	font-size: 30px;
 	text-align: left;
 	padding: 15px 15px;

 }
 .shb{
 	margin: 15px 0;
 	overflow: hidden;
 }
 .side{
 	height: 650px;
 	width: 30%;
 	float: left;

 }
 .side h2{
 	text-align: left;
 	padding-left: 5px;
 }
 .header{
 	min-height: 140px;
 	width: 65%;
 	float: right;
 	background: #1B1464;
 	margin-bottom: 15px;

 }
 .body{
 	min-height: 500px;
 	float: right;
 	width: 65%;
 	background: #1B1464;

 }
 .body h1{
 	padding: 170px 0;
 }
 .footer{
 	 min-height: 55px;
 	background: #1B1464;
 }
 .footer h2{
 	 text-align: center;
 	 padding-top: 15px
 }
 h1{
 	text-align: center;
 	padding: 30px 0;
 }